
/* ==========================================================================
   Button & Box Styles
   ========================================================================== */		
	
/***** SOCIAL SUITE *****/	
	
#suite {
background: #8ec657; /* LIGHT FIRST */
background: -moz-radial-gradient(center, ellipse cover,  #8ec657 0%, #609450 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #8ec657 0%,#609450 100%);
background: radial-gradient(ellipse at center,  #8ec657 0%,#609450 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ec657', endColorstr='#609450',GradientType=1 );
}	

/***** GOLD *****/	
	
#gold {
width: 100%; 
padding: 10px 0px;
background: #f7f296;
background: -moz-radial-gradient(center, ellipse cover,  #f7f296 0%, #925a00 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #f7f296 0%,#925a00 100%);
background: radial-gradient(ellipse at center,  #f7f296 0%,#925a00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f296', endColorstr='#925a00',GradientType=1 );
}	

/***** ANSWERS *****/

.btn-as {
    background: #003399 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-as:hover, .btn-as:active, .btn-as:focus {
    background: #0467D8 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#answers {
width: 100%; 
padding: 10px 0px;
background: #0467D8;
background: -moz-radial-gradient(center, ellipse cover,  #0467D8 0%, #003399 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #0467D8 0%,#003399 100%);
background: radial-gradient(ellipse at center,  #0467D8 0%,#003399 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0467D8', endColorstr='#003399',GradientType=1 );
}

/***** BLOGGER *****/

#blogger {
background: #fdce20;
background: -moz-radial-gradient(center, ellipse cover,  #fdce20 0%, #f87f14 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #fdce20 0%,#f87f14 100%);
background: radial-gradient(ellipse at center,  #fdce20 0%,#f87f14 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdce20', endColorstr='#f87f14',GradientType=1 );
}

/***** DIGG *****/	
	
#digg {
width: 100%; 
padding: 10px 0px;
background: #1B5791; /* LIGHT FIRST */
background: -moz-radial-gradient(center, ellipse cover,  #1B5791 0%, #10395B 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #1B5791 0%,#10395B 100%);
background: radial-gradient(ellipse at center,  #1B5791 0%,#10395B 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1B5791', endColorstr='#10395B',GradientType=1 );
}

/***** DIIGO *****/

.btn-dg {
    background: #0251b6 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-dg:hover, .btn-dg:active, .btn-dg:focus {
    background: #4fb2fa none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#diigo {
width: 100%; 
padding: 10px 0px;
background: #4fb2fa;
background: -moz-radial-gradient(center, ellipse cover,  #4fb2fa 0%, #0251b6 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #4fb2fa 0%,#0251b6 100%);
background: radial-gradient(ellipse at center,  #4fb2fa 0%,#0251b6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fb2fa', endColorstr='#0251b6',GradientType=1 );
}

/***** DELICIOUS *****/

.btn-ds {
    background: #1e9ceb none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-ds:hover, .btn-ds:active, .btn-ds:focus {
    background: #125ec4 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#delicious {
width: 100%; 
padding: 10px 0px;
background: #1e9ceb;
background: -moz-radial-gradient(center, ellipse cover,  #1e9ceb 0%, #125ec4 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #1e9ceb 0%,#125ec4 100%);
background: radial-gradient(ellipse at center,  #1e9ceb 0%,#125ec4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e9ceb', endColorstr='#125ec4',GradientType=1 );
}

/***** DEVIANTART *****/

.btn-da {
    background: #4b6b49 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-da:hover, .btn-da:active, .btn-da:focus {
    background: #7db278 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#deviantart {
background: #7db278;
background: -moz-radial-gradient(center, ellipse cover,  #7db278 0%, #4b6b49 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #7db278 0%,#4b6b49 100%);
background: radial-gradient(ellipse at center,  #7db278 0%,#4b6b49 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db278', endColorstr='#4b6b49',GradientType=1 );
}

/***** DRIBBLE *****/

.btn-db {
    background: #D74579 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-db:hover, .btn-db:active, .btn-db:focus {
    background: #7E1F45 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#dribbble {
background: #D74579;
background: -moz-radial-gradient(center, ellipse cover,  #D74579 0%, #7E1F45 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #D74579 0%,#7E1F45 100%);
background: radial-gradient(ellipse at center,  #D74579 0%,#7E1F45 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D74579', endColorstr='#7E1F45',GradientType=1 );
}

/***** ETSY *****/
	
#etsy {
background: #FF7E3E;
background: -moz-radial-gradient(center, ellipse cover,  #FF7E3E 0%, #BF5F2F 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #FF7E3E 0%,#BF5F2F 100%);
background: radial-gradient(ellipse at center,  #FF7E3E 0%,#BF5F2F 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF7E3E', endColorstr='#BF5F2F',GradientType=1 );
}
	
/***** FACEBOOK *****/

#facebook {
background: #5b8dcd;
background: -moz-radial-gradient(center, ellipse cover,  #5b8dcd 0%, #3c5b9b 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #5b8dcd 0%,#3c5b9b 100%);
background: radial-gradient(ellipse at center,  #5b8dcd 0%,#3c5b9b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b8dcd', endColorstr='#3c5b9b',GradientType=1 );
}	

/***** FLICKR *****/	
	
#flickr {
background: #00a4f2;
background: -moz-radial-gradient(center, ellipse cover,  #00a4f2 0%, #0063db 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #00a4f2 0%,#0063db 100%);
background: radial-gradient(ellipse at center,  #00a4f2 0%,#0063db 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a4f2', endColorstr='#0063db',GradientType=1 );
}

/***** FLIPBOARD *****/

#flipboard {
background: #e32a27;
background: -moz-radial-gradient(center, ellipse cover,  #e32a27 0%, #be1a19 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #e32a27 0%,#be1a19 100%);
background: radial-gradient(ellipse at center,  #e32a27 0%,#be1a19 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e32a27', endColorstr='#be1a19',GradientType=1 );
}

/***** GOOGLE *****/

#google {
background: #ee6950;
background: -moz-radial-gradient(center, ellipse cover,  #ee6950 0%, #d44132 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #ee6950 0%,#d44132 100%);
background: radial-gradient(ellipse at center,  #ee6950 0%,#d44132 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6950', endColorstr='#d44132',GradientType=1 );
}	

/***** INSTAGRAM *****/

#instagram {
background: #61b9d4;
background: -moz-radial-gradient(center, ellipse cover,  #61b9d4 0%, #3d739c 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #61b9d4 0%,#3d739c 100%);
background: radial-gradient(ellipse at center,  #61b9d4 0%,#3d739c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b9d4', endColorstr='#3d739c',GradientType=1 );
}	

/***** LIVEJOURNAL *****/
	
#livejournal {
background: #6ed9e4;
background: -moz-radial-gradient(center, ellipse cover,  #6ed9e4 0%, #459dbf 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #6ed9e4 0%,#459dbf 100%);
background: radial-gradient(ellipse at center,  #6ed9e4 0%,#459dbf 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ed9e4', endColorstr='#459dbf',GradientType=1 );
}

/***** LINKEDIN *****/

.btn-ln {
    background: #006699 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-ln:hover, .btn-ln:active, .btn-ln:focus {
    background: #00a5d5 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#linkedin {
background: #00a5d5;
background: -moz-radial-gradient(center, ellipse cover,  #00a5d5 0%, #006699 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #00a5d5 0%,#006699 100%);
background: radial-gradient(ellipse at center,  #00a5d5 0%,#006699 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a5d5', endColorstr='#006699',GradientType=1 );
}

/***** MEDIUM *****/

.btn-md {
    background: #00E470 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    }

.btn-md:hover, .btn-md:active, .btn-md:focus {
    background: #00AD6C none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }	

#medium {
background: #00E470;
background: -moz-radial-gradient(center, ellipse cover,  #00E470 0%, #00AD6C 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #00E470 0%,#00AD6C 100%);
background: radial-gradient(ellipse at center,  #00E470 0%,#00AD6C 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00E470', endColorstr='#00AD6C',GradientType=1 );
}	

/***** MESENGER *****/

.btn-mg {
    background: #00ccff none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    }

.btn-mg:hover, .btn-mg:active, .btn-mg:focus {
    background: #0066ff none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }	

#messenger {
width: 100%; 
padding: 10px 0px;
background: #00ccff;
background: -moz-radial-gradient(center, ellipse cover,  #00ccff 0%, #0066ff 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #00ccff 0%,#0066ff 100%);
background: radial-gradient(ellipse at center,  #00ccff 0%,#0066ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ccff', endColorstr='#0066ff',GradientType=1 );
}	

/***** MEETUP *****/

.btn-mt {
    background: #ec0300 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-mt:hover, .btn-mt:active, .btn-mt:focus {
    background: #f54343 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#meetup {
width: 100%; 
padding: 10px 0px;
background: #f54343;
background: -moz-radial-gradient(center, ellipse cover,  #f54343 0%, #ec0300 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #f54343 0%,#ec0300 100%);
background: radial-gradient(ellipse at center,  #f54343 0%,#ec0300 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f54343', endColorstr='#ec0300',GradientType=1 );
}

/***** PINTEREST *****/
	
#pinterest {
background: #ea333d;
background: -moz-radial-gradient(center, ellipse cover,  #ea333d 0%, #cb2027 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #ea333d 0%,#cb2027 100%);
background: radial-gradient(ellipse at center,  #ea333d 0%,#cb2027 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea333d', endColorstr='#cb2027',GradientType=1 );
}

/***** PERISCOPE *****/

.btn-ps {
    background: #2A6175 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-ps:hover, .btn-ps:active, .btn-ps:focus {
    background: #47A2C1 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#periscope {
width: 100%; 
padding: 10px 0px;
background: #47A2C1;
background: -moz-radial-gradient(center, ellipse cover,  #47A2C1 0%, #2A6175 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #47A2C1 0%,#2A6175 100%);
background: radial-gradient(ellipse at center,  #47A2C1 0%,#2A6175 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47A2C1', endColorstr='#2A6175',GradientType=1 );
}

/***** QUORA *****/

.btn-qa {
    background: #983328 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-qa:hover, .btn-qa:active, .btn-qa:focus {
    background: #C65440 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#quora {
width: 100%; 
padding: 10px 0px;
background: #C65440;
background: -moz-radial-gradient(center, ellipse cover,  #C65440 0%, #983328 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #C65440 0%,#983328 100%);
background: radial-gradient(ellipse at center,  #C65440 0%,#983328 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C65440', endColorstr='#983328',GradientType=1 );
}

/***** RENREN *****/

.btn-rn {
    background: #0D395C none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-rn:hover, .btn-rn:active, .btn-rn:focus {
    background: #217CC5 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#renren {
width: 100%; 
padding: 10px 0px;
background: #217CC5;
background: -moz-radial-gradient(center, ellipse cover,  #217CC5 0%, #0D395C 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #217CC5 0%,#0D395C 100%);
background: radial-gradient(ellipse at center,  #217CC5 0%,#0D395C 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#217CC5', endColorstr='#0D395C',GradientType=1 );
}

/***** REDDIT *****/
	
#reddit {
background: #ff680a;
background: -moz-radial-gradient(center, ellipse cover,  #ff680a 0%, #ff4006 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #ff680a 0%,#ff4006 100%);
background: radial-gradient(ellipse at center,  #ff680a 0%,#ff4006 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff680a', endColorstr='#ff4006',GradientType=1 );
}

/***** SKYPE *****/

.btn-sk {
    background: #01B1D7 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-sk:hover, .btn-sk:active, .btn-sk:focus {
    background: #0185A0 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#skype {
width: 100%; 
padding: 10px 0px;
background: #01B1D7;
background: -moz-radial-gradient(center, ellipse cover,  #01B1D7 0%, #0185A0 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #01B1D7 0%,#0185A0 100%);
background: radial-gradient(ellipse at center,  #01B1D7 0%,#0185A0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01B1D7', endColorstr='#0185A0',GradientType=1 );
}

/***** SLACK *****/	
	
#slack {
width: 100%; 
padding: 10px 0px;
background: #01B1D7;
background: -moz-radial-gradient(center, ellipse cover,  #01B1D7 0%, #0185A0 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #01B1D7 0%,#0185A0 100%);
background: radial-gradient(ellipse at center,  #01B1D7 0%,#0185A0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01B1D7', endColorstr='#0185A0',GradientType=1 );
}

/***** SNAPCHAT *****/

.btn-sc {
    background: #D2A117 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-sc:hover, .btn-sc:active, .btn-sc:focus {
    background: #FEC81A none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#snapchat {
width: 100%; 
padding: 10px 0px;
background: #FEC81A;
background: -moz-radial-gradient(center, ellipse cover,  #FEC81A 0%, #D2A117 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #FEC81A 0%,#D2A117 100%);
background: radial-gradient(ellipse at center,  #FEC81A 0%,#D2A117 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEC81A', endColorstr='#D2A117',GradientType=1 );
}

/***** SCOOPIT *****/

.btn-sp {
    background: #76A030 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-sp:hover, .btn-sp:active, .btn-sp:focus {
    background: #93C83C none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#scoopit {
width: 100%; 
padding: 10px 0px;
background: #793C83C;
background: -moz-radial-gradient(center, ellipse cover,  #93C83C 0%, #76A030 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #93C83C 0%,#76A030 100%);
background: radial-gradient(ellipse at center,  #93C83C 0%,#76A030 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEC81A', endColorstr='#76A030',GradientType=1 );
}

/***** SOUNDCLOUD *****/

.btn-sc {
    background: #fb6300 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-sc:hover, .btn-sc:active, .btn-sc:focus {
    background: #fea100 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#soundcloud {
width: 100%; 
padding: 10px 0px;
background: #fea100;
background: -moz-radial-gradient(center, ellipse cover,  #fea100 0%, #fb6300 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #fea100 0%,#fb6300 100%);
background: radial-gradient(ellipse at center,  #fea100 0%,#fb6300 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea100', endColorstr='#fb6300',GradientType=1 );
}

/***** STUMBLEUPON *****/

.btn-su {
    background: #eb4924 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-su:hover, .btn-su:active, .btn-su:focus {
    background: #f8783b none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#stumbleupon {
width: 100%; 
padding: 10px 0px;
background: #f8783b;
background: -moz-radial-gradient(center, ellipse cover,  #f8783b 0%, #eb4924 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #f8783b 0%,#eb4924 100%);
background: radial-gradient(ellipse at center,  #f8783b 0%,#eb4924 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8783b', endColorstr='#eb4924',GradientType=1 );
}

/***** TELEGRAM *****/	
	
#telegram {
width: 100%; 
padding: 10px 0px;
background: #5EBAE7; /* LIGHT FIRST */
background: -moz-radial-gradient(center, ellipse cover,  #5EBAE7 0%, #0D60B8 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #5EBAE7 0%,#0D60B8 100%);
background: radial-gradient(ellipse at center,  #5EBAE7 0%,#0D60B8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5EBAE7', endColorstr='#0D60B8',GradientType=1 );
}

/***** TUMBLR *****/
	
#tumblr {
background: #4c7eaa;
background: -moz-radial-gradient(center, ellipse cover,  #4c7eaa 0%, #304e6c 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #4c7eaa 0%,#304e6c 100%);
background: radial-gradient(ellipse at center,  #4c7eaa 0%,#304e6c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c7eaa', endColorstr='#304e6c',GradientType=1 );
}

/***** TWITTER *****/

.btn-tw {
    background: #359bed none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    }

.btn-tw:hover, .btn-tw:active, .btn-tw:focus {
    background: #52d6f7 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#twitter {
background: #52d6f7;
background: -moz-radial-gradient(center, ellipse cover,  #52d6f7 0%, #359bed 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #52d6f7 0%,#359bed 100%);
background: radial-gradient(ellipse at center,  #52d6f7 0%,#359bed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52d6f7', endColorstr='#359bed',GradientType=1 );
}

/***** VK *****/

.btn-vk {
    background: #6383a8 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-vk:hover, .btn-vk:active, .btn-vk:focus {
    background: #a2d3df none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#vk {
width: 100%; 
padding: 10px 0px;
background: #a2d3df;
background: -moz-radial-gradient(center, ellipse cover,  #a2d3df 0%, #6383a8 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #a2d3df 0%,#6383a8 100%);
background: radial-gradient(ellipse at center,  #a2d3df 0%,#6383a8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2d3df', endColorstr='#6383a8',GradientType=1 );
}

/***** VINE *****/

.btn-vn {
    background: #21886C none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-vn:hover, .btn-vn:active, .btn-vn:focus {
    background: #1CC895 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#vine {
width: 100%; 
padding: 10px 0px;
background: #1CC895;
background: -moz-radial-gradient(center, ellipse cover,  #1CC895 0%, #21886C 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #1CC895 0%,#21886C 100%);
background: radial-gradient(ellipse at center,  #1CC895 0%,#21886C 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1CC895', endColorstr='#21886C',GradientType=1 );
}

/***** VIMEO *****/

.btn-vm {
    background: #20B9EB none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-vm:hover, .btn-vm:active, .btn-vm:focus {
    background: #0A6F8E none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#vimeo {
background: #20B9EB;
background: -moz-radial-gradient(center, ellipse cover,  #20B9EB 0%, #0A6F8E 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #20B9EB 0%,#0A6F8E 100%);
background: radial-gradient(ellipse at center,  #20B9EB 0%,#0A6F8E 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20B9EB', endColorstr='#0A6F8E',GradientType=1 );
}

/***** WEIBO *****/

.btn-wb {
    background: #9B171A none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-wb:hover, .btn-wb:active, .btn-wb:focus {
    background: #DE2025 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#weibo {
width: 100%; 
padding: 10px 0px;
background: #DE2025;
background: -moz-radial-gradient(center, ellipse cover,  #DE2025 0%, #9B171A 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #DE2025 0%,#9B171A 100%);
background: radial-gradient(ellipse at center,  #DE2025 0%,#9B171A 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DE2025', endColorstr='#9B171A',GradientType=1 );
}

/***** WECHAT *****/

.btn-wc {
    background: #008A00 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-wc:hover, .btn-wc:active, .btn-wc:focus {
    background: #00B900 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#wechat {
width: 100%; 
padding: 10px 0px;
background: #00B900;
background: -moz-radial-gradient(center, ellipse cover,  #00B900 0%, #008A00 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #00B900 0%,#008A00 100%);
background: radial-gradient(ellipse at center,  #00B900 0%,#008A00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00B900', endColorstr='#008A00',GradientType=1 );
}

/***** WHATSAPP *****/

.btn-wa {
    background: #00a416 none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-wa:hover, .btn-wa:active, .btn-wa:focus {
    background: #00e024 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#whatsapp {
width: 100%; 
padding: 10px 0px;
background: #00e024;
background: -moz-radial-gradient(center, ellipse cover,  #00e024 0%, #00a416 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #00e024 0%,#00a416 100%);
background: radial-gradient(ellipse at center,  #00e024 0%,#00a416 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e024', endColorstr='#00a416',GradientType=1 );
}

/***** WORDPRESS *****/
	
#wordpress {
background: #757370;
background: -moz-radial-gradient(center, ellipse cover,  #757370 0%, #454442 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #757370 0%,#454442 100%);
background: radial-gradient(ellipse at center,  #757370 0%,#454442 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757370', endColorstr='#454442',GradientType=1 );
}

/***** XING *****/

.btn-xg {
    background: #005d5e none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-xg:hover, .btn-xg:active, .btn-xg:focus {
    background: #009d9f none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#xing {
width: 100%; 
padding: 10px 0px;
background: #009d9f;
background: -moz-radial-gradient(center, ellipse cover,  #009d9f 0%, #005d5e 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #009d9f 0%,#005d5e 100%);
background: radial-gradient(ellipse at center,  #009d9f 0%,#005d5e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009d9f', endColorstr='#005d5e',GradientType=1 );
}

/***** YOUTUBE *****/
	
#youtube {
background: #f7735c;
background: -moz-radial-gradient(center, ellipse cover,  #f7735c 0%, #e94639 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #f7735c 0%,#e94639 100%);
background: radial-gradient(ellipse at center,  #f7735c 0%,#e94639 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7735c', endColorstr='#e94639',GradientType=1 );
}

/***** YAHOO *****/

.btn-yh {
    background: #78197D none repeat scroll 0 0;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px #212121;
    -webkit-box-shadow: 0 1px 1px #212121;
    box-shadow: 0 1px 1px #212121;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px;
    //margin-bottom: 5px
    }

.btn-yh:hover, .btn-yh:active, .btn-yh:focus {
    background: #B480B7 none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
    text-decoration: none
    }		
	
#yahoo {
width: 100%; 
padding: 10px 0px;
background: #B480B7;
background: -moz-radial-gradient(center, ellipse cover,  #B480B7 0%, #78197D 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #B480B7 0%,#78197D 100%);
background: radial-gradient(ellipse at center,  #B480B7 0%,#78197D 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B480B7', endColorstr='#78197D',GradientType=1 );
}