@import url(//suite.social/assets/font-awesome/css/font-awesome.min.css);
/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2016 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */

.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:65px;width:55px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon>:first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-adn{color:#fff;background-color:#d87a68;border-color:rgba(0,0,0,0.2)}.btn-adn:focus,.btn-adn.focus{color:#fff;background-color:#ce563f;border-color:rgba(0,0,0,0.2)}
.btn-adn:hover{color:#fff;background-color:#ce563f;border-color:rgba(0,0,0,0.2)}
.btn-adn:active,.btn-adn.active,.open>.dropdown-toggle.btn-adn{color:#fff;background-color:#ce563f;border-color:rgba(0,0,0,0.2)}.btn-adn:active:hover,.btn-adn.active:hover,.open>.dropdown-toggle.btn-adn:hover,.btn-adn:active:focus,.btn-adn.active:focus,.open>.dropdown-toggle.btn-adn:focus,.btn-adn:active.focus,.btn-adn.active.focus,.open>.dropdown-toggle.btn-adn.focus{color:#fff;background-color:#b94630;border-color:rgba(0,0,0,0.2)}
.btn-adn:active,.btn-adn.active,.open>.dropdown-toggle.btn-adn{background-image:none}
.btn-adn.disabled:hover,.btn-adn[disabled]:hover,fieldset[disabled] .btn-adn:hover,.btn-adn.disabled:focus,.btn-adn[disabled]:focus,fieldset[disabled] .btn-adn:focus,.btn-adn.disabled.focus,.btn-adn[disabled].focus,fieldset[disabled] .btn-adn.focus{background-color:#d87a68;border-color:rgba(0,0,0,0.2)}
.btn-adn .badge{color:#d87a68;background-color:#fff}
.btn-bitbucket{color:#fff;background-color:#205081;border-color:rgba(0,0,0,0.2)}.btn-bitbucket:focus,.btn-bitbucket.focus{color:#fff;background-color:#163758;border-color:rgba(0,0,0,0.2)}
.btn-bitbucket:hover{color:#fff;background-color:#163758;border-color:rgba(0,0,0,0.2)}
.btn-bitbucket:active,.btn-bitbucket.active,.open>.dropdown-toggle.btn-bitbucket{color:#fff;background-color:#163758;border-color:rgba(0,0,0,0.2)}.btn-bitbucket:active:hover,.btn-bitbucket.active:hover,.open>.dropdown-toggle.btn-bitbucket:hover,.btn-bitbucket:active:focus,.btn-bitbucket.active:focus,.open>.dropdown-toggle.btn-bitbucket:focus,.btn-bitbucket:active.focus,.btn-bitbucket.active.focus,.open>.dropdown-toggle.btn-bitbucket.focus{color:#fff;background-color:#0f253c;border-color:rgba(0,0,0,0.2)}
.btn-bitbucket:active,.btn-bitbucket.active,.open>.dropdown-toggle.btn-bitbucket{background-image:none}
.btn-bitbucket.disabled:hover,.btn-bitbucket[disabled]:hover,fieldset[disabled] .btn-bitbucket:hover,.btn-bitbucket.disabled:focus,.btn-bitbucket[disabled]:focus,fieldset[disabled] .btn-bitbucket:focus,.btn-bitbucket.disabled.focus,.btn-bitbucket[disabled].focus,fieldset[disabled] .btn-bitbucket.focus{background-color:#205081;border-color:rgba(0,0,0,0.2)}
.btn-bitbucket .badge{color:#205081;background-color:#fff}
.btn-blogger{color:#fff;background-color:#f87f14;border-color:rgba(0,0,0,0.2)}.btn-blogger:focus,.btn-blogger.focus{color:#fff;background-color:#fdce20;border-color:rgba(0,0,0,0.2)}
.btn-blogger:hover{color:#fff;background-color:#fdce20;border-color:rgba(0,0,0,0.2)}
.btn-blogger:active,.btn-blogger.active,.open>.dropdown-toggle.btn-blogger{color:#fff;background-color:#fdce20;border-color:rgba(0,0,0,0.2)}.btn-blogger:active:hover,.btn-blogger.active:hover,.open>.dropdown-toggle.btn-blogger:hover,.btn-blogger:active:focus,.btn-blogger.active:focus,.open>.dropdown-toggle.btn-blogger:focus,.btn-blogger:active.focus,.btn-blogger.active.focus,.open>.dropdown-toggle.btn-blogger.focus{color:#fff;background-color:#0f253c;border-color:rgba(0,0,0,0.2)}
.btn-blogger:active,.btn-blogger.active,.open>.dropdown-toggle.btn-blogger{background-image:none}
.btn-blogger.disabled:hover,.btn-blogger[disabled]:hover,fieldset[disabled] .btn-blogger:hover,.btn-blogger.disabled:focus,.btn-blogger[disabled]:focus,fieldset[disabled] .btn-blogger:focus,.btn-blogger.disabled.focus,.btn-blogger[disabled].focus,fieldset[disabled] .btn-blogger.focus{background-color:#f87f14;border-color:rgba(0,0,0,0.2)}
.btn-blogger .badge{color:#f87f14;background-color:#fff}
.btn-delicious{color:#fff;background-color:#1e9ceb;border-color:rgba(0,0,0,0.2)}.btn-delicious:focus,.btn-delicious.focus{color:#fff;background-color:#125ec4;border-color:rgba(0,0,0,0.2)}
.btn-delicious:hover{color:#fff;background-color:#125ec4;border-color:rgba(0,0,0,0.2)}
.btn-delicious:active,.btn-delicious.active,.open>.dropdown-toggle.btn-delicious{color:#fff;background-color:#125ec4;border-color:rgba(0,0,0,0.2)}.btn-delicious:active:hover,.btn-delicious.active:hover,.open>.dropdown-toggle.btn-delicious:hover,.btn-delicious:active:focus,.btn-delicious.active:focus,.open>.dropdown-toggle.btn-delicious:focus,.btn-delicious:active.focus,.btn-delicious.active.focus,.open>.dropdown-toggle.btn-delicious.focus{color:#fff;background-color:#0a568c;border-color:rgba(0,0,0,0.2)}
.btn-delicious:active,.btn-delicious.active,.open>.dropdown-toggle.btn-delicious{background-image:none}
.btn-delicious.disabled:hover,.btn-delicious[disabled]:hover,fieldset[disabled] .btn-delicious:hover,.btn-delicious.disabled:focus,.btn-delicious[disabled]:focus,fieldset[disabled] .btn-delicious:focus,.btn-delicious.disabled.focus,.btn-delicious[disabled].focus,fieldset[disabled] .btn-delicious.focus{background-color:#1e9ceb;border-color:rgba(0,0,0,0.2)}
.btn-delicious .badge{color:#1e9ceb;background-color:#fff}
.btn-digg{color:#fff;background-color:#1B5791;border-color:rgba(0,0,0,0.2)}.btn-digg:focus,.btn-digg.focus{color:#fff;background-color:#10395B;border-color:rgba(0,0,0,0.2)}
.btn-digg:hover{color:#fff;background-color:#10395B;border-color:rgba(0,0,0,0.2)}
.btn-digg:active,.btn-digg.active,.open>.dropdown-toggle.btn-digg{color:#fff;background-color:#10395B;border-color:rgba(0,0,0,0.2)}.btn-digg:active:hover,.btn-digg.active:hover,.open>.dropdown-toggle.btn-digg:hover,.btn-digg:active:focus,.btn-digg.active:focus,.open>.dropdown-toggle.btn-digg:focus,.btn-digg:active.focus,.btn-digg.active.focus,.open>.dropdown-toggle.btn-digg.focus{color:#fff;background-color:#0a568c;border-color:rgba(0,0,0,0.2)}
.btn-digg:active,.btn-digg.active,.open>.dropdown-toggle.btn-digg{background-image:none}
.btn-digg.disabled:hover,.btn-digg[disabled]:hover,fieldset[disabled] .btn-digg:hover,.btn-digg.disabled:focus,.btn-digg[disabled]:focus,fieldset[disabled] .btn-digg:focus,.btn-digg.disabled.focus,.btn-digg[disabled].focus,fieldset[disabled] .btn-digg.focus{background-color:#1B5791;border-color:rgba(0,0,0,0.2)}
.btn-digg .badge{color:#1B5791;background-color:#fff}
.btn-dropbox{color:#fff;background-color:#1087dd;border-color:rgba(0,0,0,0.2)}.btn-dropbox:focus,.btn-dropbox.focus{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}
.btn-dropbox:hover{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}
.btn-dropbox:active,.btn-dropbox.active,.open>.dropdown-toggle.btn-dropbox{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}.btn-dropbox:active:hover,.btn-dropbox.active:hover,.open>.dropdown-toggle.btn-dropbox:hover,.btn-dropbox:active:focus,.btn-dropbox.active:focus,.open>.dropdown-toggle.btn-dropbox:focus,.btn-dropbox:active.focus,.btn-dropbox.active.focus,.open>.dropdown-toggle.btn-dropbox.focus{color:#fff;background-color:#0a568c;border-color:rgba(0,0,0,0.2)}
.btn-dropbox:active,.btn-dropbox.active,.open>.dropdown-toggle.btn-dropbox{background-image:none}
.btn-dropbox.disabled:hover,.btn-dropbox[disabled]:hover,fieldset[disabled] .btn-dropbox:hover,.btn-dropbox.disabled:focus,.btn-dropbox[disabled]:focus,fieldset[disabled] .btn-dropbox:focus,.btn-dropbox.disabled.focus,.btn-dropbox[disabled].focus,fieldset[disabled] .btn-dropbox.focus{background-color:#1087dd;border-color:rgba(0,0,0,0.2)}
.btn-dropbox .badge{color:#1087dd;background-color:#fff}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}
.btn-flickr{color:#fff;background-color:#ff0084;border-color:rgba(0,0,0,0.2)}.btn-flickr:focus,.btn-flickr.focus{color:#fff;background-color:#cc006a;border-color:rgba(0,0,0,0.2)}
.btn-flickr:hover{color:#fff;background-color:#cc006a;border-color:rgba(0,0,0,0.2)}
.btn-flickr:active,.btn-flickr.active,.open>.dropdown-toggle.btn-flickr{color:#fff;background-color:#cc006a;border-color:rgba(0,0,0,0.2)}.btn-flickr:active:hover,.btn-flickr.active:hover,.open>.dropdown-toggle.btn-flickr:hover,.btn-flickr:active:focus,.btn-flickr.active:focus,.open>.dropdown-toggle.btn-flickr:focus,.btn-flickr:active.focus,.btn-flickr.active.focus,.open>.dropdown-toggle.btn-flickr.focus{color:#fff;background-color:#a80057;border-color:rgba(0,0,0,0.2)}
.btn-flickr:active,.btn-flickr.active,.open>.dropdown-toggle.btn-flickr{background-image:none}
.btn-flickr.disabled:hover,.btn-flickr[disabled]:hover,fieldset[disabled] .btn-flickr:hover,.btn-flickr.disabled:focus,.btn-flickr[disabled]:focus,fieldset[disabled] .btn-flickr:focus,.btn-flickr.disabled.focus,.btn-flickr[disabled].focus,fieldset[disabled] .btn-flickr.focus{background-color:#ff0084;border-color:rgba(0,0,0,0.2)}
.btn-flickr .badge{color:#ff0084;background-color:#fff}
.btn-flipboard{color:#fff;background-color:#e32a27;border-color:rgba(0,0,0,0.2)}.btn-flipboard:focus,.btn-flipboard.focus{color:#fff;background-color:#be1a19;border-color:rgba(0,0,0,0.2)}
.btn-flipboard:hover{color:#fff;background-color:#be1a19;border-color:rgba(0,0,0,0.2)}
.btn-flipboard:active,.btn-flipboard.active,.open>.dropdown-toggle.btn-flipboard{color:#fff;background-color:#be1a19;border-color:rgba(0,0,0,0.2)}.btn-flipboard:active:hover,.btn-flipboard.active:hover,.open>.dropdown-toggle.btn-flipboard:hover,.btn-flipboard:active:focus,.btn-flipboard.active:focus,.open>.dropdown-toggle.btn-flipboard:focus,.btn-flipboard:active.focus,.btn-flipboard.active.focus,.open>.dropdown-toggle.btn-flipboard.focus{color:#fff;background-color:#a80057;border-color:rgba(0,0,0,0.2)}
.btn-flipboard:active,.btn-flipboard.active,.open>.dropdown-toggle.btn-flipboard{background-image:none}
.btn-flipboard.disabled:hover,.btn-flipboard[disabled]:hover,fieldset[disabled] .btn-flipboard:hover,.btn-flipboard.disabled:focus,.btn-flipboard[disabled]:focus,fieldset[disabled] .btn-flipboard:focus,.btn-flipboard.disabled.focus,.btn-flipboard[disabled].focus,fieldset[disabled] .btn-flipboard.focus{background-color:#e32a27;border-color:rgba(0,0,0,0.2)}
.btn-flipboard .badge{color:#e32a27;background-color:#fff}
.btn-foursquare{color:#fff;background-color:#f94877;border-color:rgba(0,0,0,0.2)}.btn-foursquare:focus,.btn-foursquare.focus{color:#fff;background-color:#f71752;border-color:rgba(0,0,0,0.2)}
.btn-foursquare:hover{color:#fff;background-color:#f71752;border-color:rgba(0,0,0,0.2)}
.btn-foursquare:active,.btn-foursquare.active,.open>.dropdown-toggle.btn-foursquare{color:#fff;background-color:#f71752;border-color:rgba(0,0,0,0.2)}.btn-foursquare:active:hover,.btn-foursquare.active:hover,.open>.dropdown-toggle.btn-foursquare:hover,.btn-foursquare:active:focus,.btn-foursquare.active:focus,.open>.dropdown-toggle.btn-foursquare:focus,.btn-foursquare:active.focus,.btn-foursquare.active.focus,.open>.dropdown-toggle.btn-foursquare.focus{color:#fff;background-color:#e30742;border-color:rgba(0,0,0,0.2)}
.btn-foursquare:active,.btn-foursquare.active,.open>.dropdown-toggle.btn-foursquare{background-image:none}
.btn-foursquare.disabled:hover,.btn-foursquare[disabled]:hover,fieldset[disabled] .btn-foursquare:hover,.btn-foursquare.disabled:focus,.btn-foursquare[disabled]:focus,fieldset[disabled] .btn-foursquare:focus,.btn-foursquare.disabled.focus,.btn-foursquare[disabled].focus,fieldset[disabled] .btn-foursquare.focus{background-color:#f94877;border-color:rgba(0,0,0,0.2)}
.btn-foursquare .badge{color:#f94877;background-color:#fff}
.btn-github{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-github:focus,.btn-github.focus{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
.btn-github:hover{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}.btn-github:active:hover,.btn-github.active:hover,.open>.dropdown-toggle.btn-github:hover,.btn-github:active:focus,.btn-github.active:focus,.open>.dropdown-toggle.btn-github:focus,.btn-github:active.focus,.btn-github.active.focus,.open>.dropdown-toggle.btn-github.focus{color:#fff;background-color:#191919;border-color:rgba(0,0,0,0.2)}
.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{background-image:none}
.btn-github.disabled:hover,.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,.btn-github.disabled:focus,.btn-github[disabled]:focus,fieldset[disabled] .btn-github:focus,.btn-github.disabled.focus,.btn-github[disabled].focus,fieldset[disabled] .btn-github.focus{background-color:#444;border-color:rgba(0,0,0,0.2)}
.btn-github .badge{color:#444;background-color:#fff}
.btn-google{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google:focus,.btn-google.focus{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:hover{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}.btn-google:active:hover,.btn-google.active:hover,.open>.dropdown-toggle.btn-google:hover,.btn-google:active:focus,.btn-google.active:focus,.open>.dropdown-toggle.btn-google:focus,.btn-google:active.focus,.btn-google.active.focus,.open>.dropdown-toggle.btn-google.focus{color:#fff;background-color:#a32b1c;border-color:rgba(0,0,0,0.2)}
.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{background-image:none}
.btn-google.disabled:hover,.btn-google[disabled]:hover,fieldset[disabled] .btn-google:hover,.btn-google.disabled:focus,.btn-google[disabled]:focus,fieldset[disabled] .btn-google:focus,.btn-google.disabled.focus,.btn-google[disabled].focus,fieldset[disabled] .btn-google.focus{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-google .badge{color:#dd4b39;background-color:#fff}
.btn-instagram{color:#fff;background-color:#3f729b;border-color:rgba(0,0,0,0.2)}.btn-instagram:focus,.btn-instagram.focus{color:#fff;background-color:#305777;border-color:rgba(0,0,0,0.2)}
.btn-instagram:hover{color:#fff;background-color:#305777;border-color:rgba(0,0,0,0.2)}
.btn-instagram:active,.btn-instagram.active,.open>.dropdown-toggle.btn-instagram{color:#fff;background-color:#305777;border-color:rgba(0,0,0,0.2)}.btn-instagram:active:hover,.btn-instagram.active:hover,.open>.dropdown-toggle.btn-instagram:hover,.btn-instagram:active:focus,.btn-instagram.active:focus,.open>.dropdown-toggle.btn-instagram:focus,.btn-instagram:active.focus,.btn-instagram.active.focus,.open>.dropdown-toggle.btn-instagram.focus{color:#fff;background-color:#26455d;border-color:rgba(0,0,0,0.2)}
.btn-instagram:active,.btn-instagram.active,.open>.dropdown-toggle.btn-instagram{background-image:none}
.btn-instagram.disabled:hover,.btn-instagram[disabled]:hover,fieldset[disabled] .btn-instagram:hover,.btn-instagram.disabled:focus,.btn-instagram[disabled]:focus,fieldset[disabled] .btn-instagram:focus,.btn-instagram.disabled.focus,.btn-instagram[disabled].focus,fieldset[disabled] .btn-instagram.focus{background-color:#3f729b;border-color:rgba(0,0,0,0.2)}
.btn-instagram .badge{color:#3f729b;background-color:#fff}
.btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:focus,.btn-linkedin.focus{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:hover{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}.btn-linkedin:active:hover,.btn-linkedin.active:hover,.open>.dropdown-toggle.btn-linkedin:hover,.btn-linkedin:active:focus,.btn-linkedin.active:focus,.open>.dropdown-toggle.btn-linkedin:focus,.btn-linkedin:active.focus,.btn-linkedin.active.focus,.open>.dropdown-toggle.btn-linkedin.focus{color:#fff;background-color:#00405f;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{background-image:none}
.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled.focus,.btn-linkedin[disabled].focus,fieldset[disabled] .btn-linkedin.focus{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}
.btn-linkedin .badge{color:#007bb6;background-color:#fff}
.btn-livejournal{color:#fff;background-color:#6ed9e4;border-color:rgba(0,0,0,0.2)}.btn-livejournal:focus,.btn-livejournal.focus{color:#fff;background-color:#459dbf;border-color:rgba(0,0,0,0.2)}
.btn-livejournal:hover{color:#fff;background-color:#459dbf;border-color:rgba(0,0,0,0.2)}
.btn-livejournal:active,.btn-livejournal.active,.open>.dropdown-toggle.btn-livejournal{color:#fff;background-color:#459dbf;border-color:rgba(0,0,0,0.2)}.btn-livejournal:active:hover,.btn-livejournal.active:hover,.open>.dropdown-toggle.btn-livejournal:hover,.btn-livejournal:active:focus,.btn-livejournal.active:focus,.open>.dropdown-toggle.btn-livejournal:focus,.btn-livejournal:active.focus,.btn-livejournal.active.focus,.open>.dropdown-toggle.btn-livejournal.focus{color:#fff;background-color:#00405f;border-color:rgba(0,0,0,0.2)}
.btn-livejournal:active,.btn-livejournal.active,.open>.dropdown-toggle.btn-livejournal{background-image:none}
.btn-livejournal.disabled:hover,.btn-livejournal[disabled]:hover,fieldset[disabled] .btn-livejournal:hover,.btn-livejournal.disabled:focus,.btn-livejournal[disabled]:focus,fieldset[disabled] .btn-livejournal:focus,.btn-livejournal.disabled.focus,.btn-livejournal[disabled].focus,fieldset[disabled] .btn-livejournal.focus{background-color:#6ed9e4;border-color:rgba(0,0,0,0.2)}
.btn-livejournal .badge{color:#6ed9e4;background-color:#fff}
.btn-messenger{color:#fff;background-color:#00ccff;border-color:rgba(0,0,0,0.2)}.btn-messenger:focus,.btn-messenger.focus{color:#fff;background-color:#0066ff;border-color:rgba(0,0,0,0.2)}
.btn-messenger:hover{color:#fff;background-color:#0066ff;border-color:rgba(0,0,0,0.2)}
.btn-messenger:active,.btn-messenger.active,.open>.dropdown-toggle.btn-messenger{color:#fff;background-color:#0066ff;border-color:rgba(0,0,0,0.2)}.btn-messenger:active:hover,.btn-messenger.active:hover,.open>.dropdown-toggle.btn-messenger:hover,.btn-messenger:active:focus,.btn-messenger.active:focus,.open>.dropdown-toggle.btn-messenger:focus,.btn-messenger:active.focus,.btn-messenger.active.focus,.open>.dropdown-toggle.btn-messenger.focus{color:#fff;background-color:#0f4bac;border-color:rgba(0,0,0,0.2)}
.btn-messenger:active,.btn-messenger.active,.open>.dropdown-toggle.btn-messenger{background-image:none}
.btn-messenger.disabled:hover,.btn-messenger[disabled]:hover,fieldset[disabled] .btn-messenger:hover,.btn-messenger.disabled:focus,.btn-messenger[disabled]:focus,fieldset[disabled] .btn-messenger:focus,.btn-messenger.disabled.focus,.btn-messenger[disabled].focus,fieldset[disabled] .btn-messenger.focus{background-color:#00ccff;border-color:rgba(0,0,0,0.2)}
.btn-messenger .badge{color:#00ccff;background-color:#fff}
.btn-microsoft{color:#fff;background-color:#2672ec;border-color:rgba(0,0,0,0.2)}.btn-microsoft:focus,.btn-microsoft.focus{color:#fff;background-color:#125acd;border-color:rgba(0,0,0,0.2)}
.btn-microsoft:hover{color:#fff;background-color:#125acd;border-color:rgba(0,0,0,0.2)}
.btn-microsoft:active,.btn-microsoft.active,.open>.dropdown-toggle.btn-microsoft{color:#fff;background-color:#125acd;border-color:rgba(0,0,0,0.2)}.btn-microsoft:active:hover,.btn-microsoft.active:hover,.open>.dropdown-toggle.btn-microsoft:hover,.btn-microsoft:active:focus,.btn-microsoft.active:focus,.open>.dropdown-toggle.btn-microsoft:focus,.btn-microsoft:active.focus,.btn-microsoft.active.focus,.open>.dropdown-toggle.btn-microsoft.focus{color:#fff;background-color:#0f4bac;border-color:rgba(0,0,0,0.2)}
.btn-microsoft:active,.btn-microsoft.active,.open>.dropdown-toggle.btn-microsoft{background-image:none}
.btn-microsoft.disabled:hover,.btn-microsoft[disabled]:hover,fieldset[disabled] .btn-microsoft:hover,.btn-microsoft.disabled:focus,.btn-microsoft[disabled]:focus,fieldset[disabled] .btn-microsoft:focus,.btn-microsoft.disabled.focus,.btn-microsoft[disabled].focus,fieldset[disabled] .btn-microsoft.focus{background-color:#2672ec;border-color:rgba(0,0,0,0.2)}
.btn-microsoft .badge{color:#2672ec;background-color:#fff}
.btn-odnoklassniki{color:#fff;background-color:#f4731c;border-color:rgba(0,0,0,0.2)}.btn-odnoklassniki:focus,.btn-odnoklassniki.focus{color:#fff;background-color:#d35b0a;border-color:rgba(0,0,0,0.2)}
.btn-odnoklassniki:hover{color:#fff;background-color:#d35b0a;border-color:rgba(0,0,0,0.2)}
.btn-odnoklassniki:active,.btn-odnoklassniki.active,.open>.dropdown-toggle.btn-odnoklassniki{color:#fff;background-color:#d35b0a;border-color:rgba(0,0,0,0.2)}.btn-odnoklassniki:active:hover,.btn-odnoklassniki.active:hover,.open>.dropdown-toggle.btn-odnoklassniki:hover,.btn-odnoklassniki:active:focus,.btn-odnoklassniki.active:focus,.open>.dropdown-toggle.btn-odnoklassniki:focus,.btn-odnoklassniki:active.focus,.btn-odnoklassniki.active.focus,.open>.dropdown-toggle.btn-odnoklassniki.focus{color:#fff;background-color:#b14c09;border-color:rgba(0,0,0,0.2)}
.btn-odnoklassniki:active,.btn-odnoklassniki.active,.open>.dropdown-toggle.btn-odnoklassniki{background-image:none}
.btn-odnoklassniki.disabled:hover,.btn-odnoklassniki[disabled]:hover,fieldset[disabled] .btn-odnoklassniki:hover,.btn-odnoklassniki.disabled:focus,.btn-odnoklassniki[disabled]:focus,fieldset[disabled] .btn-odnoklassniki:focus,.btn-odnoklassniki.disabled.focus,.btn-odnoklassniki[disabled].focus,fieldset[disabled] .btn-odnoklassniki.focus{background-color:#f4731c;border-color:rgba(0,0,0,0.2)}
.btn-odnoklassniki .badge{color:#f4731c;background-color:#fff}
.btn-openid{color:#fff;background-color:#f7931e;border-color:rgba(0,0,0,0.2)}.btn-openid:focus,.btn-openid.focus{color:#fff;background-color:#da7908;border-color:rgba(0,0,0,0.2)}
.btn-openid:hover{color:#fff;background-color:#da7908;border-color:rgba(0,0,0,0.2)}
.btn-openid:active,.btn-openid.active,.open>.dropdown-toggle.btn-openid{color:#fff;background-color:#da7908;border-color:rgba(0,0,0,0.2)}.btn-openid:active:hover,.btn-openid.active:hover,.open>.dropdown-toggle.btn-openid:hover,.btn-openid:active:focus,.btn-openid.active:focus,.open>.dropdown-toggle.btn-openid:focus,.btn-openid:active.focus,.btn-openid.active.focus,.open>.dropdown-toggle.btn-openid.focus{color:#fff;background-color:#b86607;border-color:rgba(0,0,0,0.2)}
.btn-openid:active,.btn-openid.active,.open>.dropdown-toggle.btn-openid{background-image:none}
.btn-openid.disabled:hover,.btn-openid[disabled]:hover,fieldset[disabled] .btn-openid:hover,.btn-openid.disabled:focus,.btn-openid[disabled]:focus,fieldset[disabled] .btn-openid:focus,.btn-openid.disabled.focus,.btn-openid[disabled].focus,fieldset[disabled] .btn-openid.focus{background-color:#f7931e;border-color:rgba(0,0,0,0.2)}
.btn-openid .badge{color:#f7931e;background-color:#fff}
.btn-pinterest{color:#fff;background-color:#cb2027;border-color:rgba(0,0,0,0.2)}.btn-pinterest:focus,.btn-pinterest.focus{color:#fff;background-color:#9f191f;border-color:rgba(0,0,0,0.2)}
.btn-pinterest:hover{color:#fff;background-color:#9f191f;border-color:rgba(0,0,0,0.2)}
.btn-pinterest:active,.btn-pinterest.active,.open>.dropdown-toggle.btn-pinterest{color:#fff;background-color:#9f191f;border-color:rgba(0,0,0,0.2)}.btn-pinterest:active:hover,.btn-pinterest.active:hover,.open>.dropdown-toggle.btn-pinterest:hover,.btn-pinterest:active:focus,.btn-pinterest.active:focus,.open>.dropdown-toggle.btn-pinterest:focus,.btn-pinterest:active.focus,.btn-pinterest.active.focus,.open>.dropdown-toggle.btn-pinterest.focus{color:#fff;background-color:#801419;border-color:rgba(0,0,0,0.2)}
.btn-pinterest:active,.btn-pinterest.active,.open>.dropdown-toggle.btn-pinterest{background-image:none}
.btn-pinterest.disabled:hover,.btn-pinterest[disabled]:hover,fieldset[disabled] .btn-pinterest:hover,.btn-pinterest.disabled:focus,.btn-pinterest[disabled]:focus,fieldset[disabled] .btn-pinterest:focus,.btn-pinterest.disabled.focus,.btn-pinterest[disabled].focus,fieldset[disabled] .btn-pinterest.focus{background-color:#cb2027;border-color:rgba(0,0,0,0.2)}
.btn-pinterest .badge{color:#cb2027;background-color:#fff}
.btn-reddit{color:#fff;background-color:#ff680a;border-color:rgba(0,0,0,0.2)}.btn-reddit:focus,.btn-reddit.focus{color:#fff;background-color:#ff4006;border-color:rgba(0,0,0,0.2)}
.btn-reddit:hover{color:#fff;background-color:#ff4006;border-color:rgba(0,0,0,0.2)}
.btn-reddit:active,.btn-reddit.active,.open>.dropdown-toggle.btn-reddit{color:#fff;background-color:#ff4006;border-color:rgba(0,0,0,0.2)}.btn-reddit:active:hover,.btn-reddit.active:hover,.open>.dropdown-toggle.btn-reddit:hover,.btn-reddit:active:focus,.btn-reddit.active:focus,.open>.dropdown-toggle.btn-reddit:focus,.btn-reddit:active.focus,.btn-reddit.active.focus,.open>.dropdown-toggle.btn-reddit.focus{color:#fff;background-color:#98ccff;border-color:rgba(0,0,0,0.2)}
.btn-reddit:active,.btn-reddit.active,.open>.dropdown-toggle.btn-reddit{background-image:none}
.btn-reddit.disabled:hover,.btn-reddit[disabled]:hover,fieldset[disabled] .btn-reddit:hover,.btn-reddit.disabled:focus,.btn-reddit[disabled]:focus,fieldset[disabled] .btn-reddit:focus,.btn-reddit.disabled.focus,.btn-reddit[disabled].focus,fieldset[disabled] .btn-reddit.focus{background-color:#ff680a;border-color:rgba(0,0,0,0.2)}
.btn-reddit .badge{color:#ff680a;background-color:#000}
.btn-renren{color:#fff;background-color:#217CC5;border-color:rgba(0,0,0,0.2)}.btn-renren:focus,.btn-renren.focus{color:#fff;background-color:#0D395C;border-color:rgba(0,0,0,0.2)}
.btn-renren:hover{color:#fff;background-color:#0D395C;border-color:rgba(0,0,0,0.2)}
.btn-renren:active,.btn-renren.active,.open>.dropdown-toggle.btn-renren{color:#fff;background-color:#0D395C;border-color:rgba(0,0,0,0.2)}.btn-renren:active:hover,.btn-renren.active:hover,.open>.dropdown-toggle.btn-renren:hover,.btn-renren:active:focus,.btn-renren.active:focus,.open>.dropdown-toggle.btn-renren:focus,.btn-renren:active.focus,.btn-renren.active.focus,.open>.dropdown-toggle.btn-renren.focus{color:#fff;background-color:#98ccff;border-color:rgba(0,0,0,0.2)}
.btn-renren:active,.btn-renren.active,.open>.dropdown-toggle.btn-renren{background-image:none}
.btn-renren.disabled:hover,.btn-renren[disabled]:hover,fieldset[disabled] .btn-renren:hover,.btn-renren.disabled:focus,.btn-renren[disabled]:focus,fieldset[disabled] .btn-renren:focus,.btn-renren.disabled.focus,.btn-renren[disabled].focus,fieldset[disabled] .btn-renren.focus{background-color:#217CC5;border-color:rgba(0,0,0,0.2)}
.btn-renren .badge{color:#217CC5;background-color:#000}
.btn-skype{color:#fff;background-color:#01B1D7;border-color:rgba(0,0,0,0.2)}.btn-skype:focus,.btn-skype.focus{color:#fff;background-color:#0185A0;border-color:rgba(0,0,0,0.2)}
.btn-skype:hover{color:#fff;background-color:#0185A0;border-color:rgba(0,0,0,0.2)}
.btn-skype:active,.btn-skype.active,.open>.dropdown-toggle.btn-skype{color:#fff;background-color:#0185A0;border-color:rgba(0,0,0,0.2)}.btn-skype:active:hover,.btn-skype.active:hover,.open>.dropdown-toggle.btn-skype:hover,.btn-skype:active:focus,.btn-skype.active:focus,.open>.dropdown-toggle.btn-skype:focus,.btn-skype:active.focus,.btn-skype.active.focus,.open>.dropdown-toggle.btn-skype.focus{color:#fff;background-color:#a83800;border-color:rgba(0,0,0,0.2)}
.btn-skype:active,.btn-skype.active,.open>.dropdown-toggle.btn-skype{background-image:none}
.btn-skype.disabled:hover,.btn-skype[disabled]:hover,fieldset[disabled] .btn-skype:hover,.btn-skype.disabled:focus,.btn-skype[disabled]:focus,fieldset[disabled] .btn-skype:focus,.btn-skype.disabled.focus,.btn-skype[disabled].focus,fieldset[disabled] .btn-skype.focus{background-color:#01B1D7;border-color:rgba(0,0,0,0.2)}
.btn-skype .badge{color:#01B1D7;background-color:#fff}
.btn-snapchat{color:#fff;background-color:#FEC81A;border-color:rgba(0,0,0,0.2)}.btn-snapchat:focus,.btn-snapchat.focus{color:#fff;background-color:#D2A117;border-color:rgba(0,0,0,0.2)}
.btn-snapchat:hover{color:#fff;background-color:#D2A117;border-color:rgba(0,0,0,0.2)}
.btn-snapchat:active,.btn-snapchat.active,.open>.dropdown-toggle.btn-snapchat{color:#fff;background-color:#D2A117;border-color:rgba(0,0,0,0.2)}.btn-snapchat:active:hover,.btn-snapchat.active:hover,.open>.dropdown-toggle.btn-snapchat:hover,.btn-snapchat:active:focus,.btn-snapchat.active:focus,.open>.dropdown-toggle.btn-snapchat:focus,.btn-snapchat:active.focus,.btn-snapchat.active.focus,.open>.dropdown-toggle.btn-snapchat.focus{color:#fff;background-color:#a83800;border-color:rgba(0,0,0,0.2)}
.btn-snapchat:active,.btn-snapchat.active,.open>.dropdown-toggle.btn-snapchat{background-image:none}
.btn-snapchat.disabled:hover,.btn-snapchat[disabled]:hover,fieldset[disabled] .btn-snapchat:hover,.btn-snapchat.disabled:focus,.btn-snapchat[disabled]:focus,fieldset[disabled] .btn-snapchat:focus,.btn-snapchat.disabled.focus,.btn-snapchat[disabled].focus,fieldset[disabled] .btn-snapchat.focus{background-color:#FEC81A;border-color:rgba(0,0,0,0.2)}
.btn-snapchat .badge{color:#FEC81A;background-color:#fff}
.btn-soundcloud{color:#fff;background-color:#f50;border-color:rgba(0,0,0,0.2)}.btn-soundcloud:focus,.btn-soundcloud.focus{color:#fff;background-color:#c40;border-color:rgba(0,0,0,0.2)}
.btn-soundcloud:hover{color:#fff;background-color:#c40;border-color:rgba(0,0,0,0.2)}
.btn-soundcloud:active,.btn-soundcloud.active,.open>.dropdown-toggle.btn-soundcloud{color:#fff;background-color:#c40;border-color:rgba(0,0,0,0.2)}.btn-soundcloud:active:hover,.btn-soundcloud.active:hover,.open>.dropdown-toggle.btn-soundcloud:hover,.btn-soundcloud:active:focus,.btn-soundcloud.active:focus,.open>.dropdown-toggle.btn-soundcloud:focus,.btn-soundcloud:active.focus,.btn-soundcloud.active.focus,.open>.dropdown-toggle.btn-soundcloud.focus{color:#fff;background-color:#a83800;border-color:rgba(0,0,0,0.2)}
.btn-soundcloud:active,.btn-soundcloud.active,.open>.dropdown-toggle.btn-soundcloud{background-image:none}
.btn-soundcloud.disabled:hover,.btn-soundcloud[disabled]:hover,fieldset[disabled] .btn-soundcloud:hover,.btn-soundcloud.disabled:focus,.btn-soundcloud[disabled]:focus,fieldset[disabled] .btn-soundcloud:focus,.btn-soundcloud.disabled.focus,.btn-soundcloud[disabled].focus,fieldset[disabled] .btn-soundcloud.focus{background-color:#f50;border-color:rgba(0,0,0,0.2)}
.btn-soundcloud .badge{color:#f50;background-color:#fff}
.btn-stumbleupon{color:#fff;background-color:#f8783b;border-color:rgba(0,0,0,0.2)}.btn-stumbleupon:focus,.btn-stumbleupon.focus{color:#fff;background-color:#eb4924;border-color:rgba(0,0,0,0.2)}
.btn-stumbleupon:hover{color:#fff;background-color:#eb4924;border-color:rgba(0,0,0,0.2)}
.btn-stumbleupon:active,.btn-stumbleupon.active,.open>.dropdown-toggle.btn-stumbleupon{color:#fff;background-color:#eb4924;border-color:rgba(0,0,0,0.2)}.btn-stumbleupon:active:hover,.btn-stumbleupon.active:hover,.open>.dropdown-toggle.btn-stumbleupon:hover,.btn-stumbleupon:active:focus,.btn-stumbleupon.active:focus,.open>.dropdown-toggle.btn-stumbleupon:focus,.btn-stumbleupon:active.focus,.btn-stumbleupon.active.focus,.open>.dropdown-toggle.btn-stumbleupon.focus{color:#fff;background-color:#a83800;border-color:rgba(0,0,0,0.2)}
.btn-stumbleupon:active,.btn-stumbleupon.active,.open>.dropdown-toggle.btn-stumbleupon{background-image:none}
.btn-stumbleupon.disabled:hover,.btn-stumbleupon[disabled]:hover,fieldset[disabled] .btn-stumbleupon:hover,.btn-stumbleupon.disabled:focus,.btn-stumbleupon[disabled]:focus,fieldset[disabled] .btn-stumbleupon:focus,.btn-stumbleupon.disabled.focus,.btn-stumbleupon[disabled].focus,fieldset[disabled] .btn-stumbleupon.focus{background-color:#f8783b;border-color:rgba(0,0,0,0.2)}
.btn-stumbleupon .badge{color:#f8783b;background-color:#fff}
.btn-telegram{color:#fff;background-color:#5EBAE7;border-color:rgba(0,0,0,0.2)}.btn-telegram:focus,.btn-telegram.focus{color:#fff;background-color:#0D60B8;border-color:rgba(0,0,0,0.2)}
.btn-telegram:hover{color:#fff;background-color:#0D60B8;border-color:rgba(0,0,0,0.2)}
.btn-telegram:active,.btn-telegram.active,.open>.dropdown-toggle.btn-telegram{color:#fff;background-color:#0D60B8;border-color:rgba(0,0,0,0.2)}.btn-telegram:active:hover,.btn-telegram.active:hover,.open>.dropdown-toggle.btn-telegram:hover,.btn-telegram:active:focus,.btn-telegram.active:focus,.open>.dropdown-toggle.btn-telegram:focus,.btn-telegram:active.focus,.btn-telegram.active.focus,.open>.dropdown-toggle.btn-telegram.focus{color:#fff;background-color:#111c26;border-color:rgba(0,0,0,0.2)}
.btn-telegram:active,.btn-telegram.active,.open>.dropdown-toggle.btn-telegram{background-image:none}
.btn-telegram.disabled:hover,.btn-telegram[disabled]:hover,fieldset[disabled] .btn-telegram:hover,.btn-telegram.disabled:focus,.btn-telegram[disabled]:focus,fieldset[disabled] .btn-telegram:focus,.btn-telegram.disabled.focus,.btn-telegram[disabled].focus,fieldset[disabled] .btn-telegram.focus{background-color:#5EBAE7;border-color:rgba(0,0,0,0.2)}
.btn-telegram .badge{color:#5EBAE7;background-color:#fff}
.btn-tumblr{color:#fff;background-color:#2c4762;border-color:rgba(0,0,0,0.2)}.btn-tumblr:focus,.btn-tumblr.focus{color:#fff;background-color:#1c2d3f;border-color:rgba(0,0,0,0.2)}
.btn-tumblr:hover{color:#fff;background-color:#1c2d3f;border-color:rgba(0,0,0,0.2)}
.btn-tumblr:active,.btn-tumblr.active,.open>.dropdown-toggle.btn-tumblr{color:#fff;background-color:#1c2d3f;border-color:rgba(0,0,0,0.2)}.btn-tumblr:active:hover,.btn-tumblr.active:hover,.open>.dropdown-toggle.btn-tumblr:hover,.btn-tumblr:active:focus,.btn-tumblr.active:focus,.open>.dropdown-toggle.btn-tumblr:focus,.btn-tumblr:active.focus,.btn-tumblr.active.focus,.open>.dropdown-toggle.btn-tumblr.focus{color:#fff;background-color:#111c26;border-color:rgba(0,0,0,0.2)}
.btn-tumblr:active,.btn-tumblr.active,.open>.dropdown-toggle.btn-tumblr{background-image:none}
.btn-tumblr.disabled:hover,.btn-tumblr[disabled]:hover,fieldset[disabled] .btn-tumblr:hover,.btn-tumblr.disabled:focus,.btn-tumblr[disabled]:focus,fieldset[disabled] .btn-tumblr:focus,.btn-tumblr.disabled.focus,.btn-tumblr[disabled].focus,fieldset[disabled] .btn-tumblr.focus{background-color:#2c4762;border-color:rgba(0,0,0,0.2)}
.btn-tumblr .badge{color:#2c4762;background-color:#fff}
.btn-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}.btn-twitter:focus,.btn-twitter.focus{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.btn-twitter:hover{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}.btn-twitter:active:hover,.btn-twitter.active:hover,.open>.dropdown-toggle.btn-twitter:hover,.btn-twitter:active:focus,.btn-twitter.active:focus,.open>.dropdown-toggle.btn-twitter:focus,.btn-twitter:active.focus,.btn-twitter.active.focus,.open>.dropdown-toggle.btn-twitter.focus{color:#fff;background-color:#1583d7;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled.focus,.btn-twitter[disabled].focus,fieldset[disabled] .btn-twitter.focus{background-color:#55acee;border-color:rgba(0,0,0,0.2)}
.btn-twitter .badge{color:#55acee;background-color:#fff}
.btn-vimeo{color:#fff;background-color:#1ab7ea;border-color:rgba(0,0,0,0.2)}.btn-vimeo:focus,.btn-vimeo.focus{color:#fff;background-color:#1295bf;border-color:rgba(0,0,0,0.2)}
.btn-vimeo:hover{color:#fff;background-color:#1295bf;border-color:rgba(0,0,0,0.2)}
.btn-vimeo:active,.btn-vimeo.active,.open>.dropdown-toggle.btn-vimeo{color:#fff;background-color:#1295bf;border-color:rgba(0,0,0,0.2)}.btn-vimeo:active:hover,.btn-vimeo.active:hover,.open>.dropdown-toggle.btn-vimeo:hover,.btn-vimeo:active:focus,.btn-vimeo.active:focus,.open>.dropdown-toggle.btn-vimeo:focus,.btn-vimeo:active.focus,.btn-vimeo.active.focus,.open>.dropdown-toggle.btn-vimeo.focus{color:#fff;background-color:#0f7b9f;border-color:rgba(0,0,0,0.2)}
.btn-vimeo:active,.btn-vimeo.active,.open>.dropdown-toggle.btn-vimeo{background-image:none}
.btn-vimeo.disabled:hover,.btn-vimeo[disabled]:hover,fieldset[disabled] .btn-vimeo:hover,.btn-vimeo.disabled:focus,.btn-vimeo[disabled]:focus,fieldset[disabled] .btn-vimeo:focus,.btn-vimeo.disabled.focus,.btn-vimeo[disabled].focus,fieldset[disabled] .btn-vimeo.focus{background-color:#1ab7ea;border-color:rgba(0,0,0,0.2)}
.btn-vimeo .badge{color:#1ab7ea;background-color:#fff}
.btn-vk{color:#fff;background-color:#587ea3;border-color:rgba(0,0,0,0.2)}.btn-vk:focus,.btn-vk.focus{color:#fff;background-color:#466482;border-color:rgba(0,0,0,0.2)}
.btn-vk:hover{color:#fff;background-color:#466482;border-color:rgba(0,0,0,0.2)}
.btn-vk:active,.btn-vk.active,.open>.dropdown-toggle.btn-vk{color:#fff;background-color:#466482;border-color:rgba(0,0,0,0.2)}.btn-vk:active:hover,.btn-vk.active:hover,.open>.dropdown-toggle.btn-vk:hover,.btn-vk:active:focus,.btn-vk.active:focus,.open>.dropdown-toggle.btn-vk:focus,.btn-vk:active.focus,.btn-vk.active.focus,.open>.dropdown-toggle.btn-vk.focus{color:#fff;background-color:#3a526b;border-color:rgba(0,0,0,0.2)}
.btn-vk:active,.btn-vk.active,.open>.dropdown-toggle.btn-vk{background-image:none}
.btn-vk.disabled:hover,.btn-vk[disabled]:hover,fieldset[disabled] .btn-vk:hover,.btn-vk.disabled:focus,.btn-vk[disabled]:focus,fieldset[disabled] .btn-vk:focus,.btn-vk.disabled.focus,.btn-vk[disabled].focus,fieldset[disabled] .btn-vk.focus{background-color:#587ea3;border-color:rgba(0,0,0,0.2)}
.btn-vk .badge{color:#587ea3;background-color:#fff}
.btn-weibo{color:#fff;background-color:#DE2025;border-color:rgba(0,0,0,0.2)}.btn-weibo:focus,.btn-weibo.focus{color:#fff;background-color:#9B171A;border-color:rgba(0,0,0,0.2)}
.btn-weibo:hover{color:#fff;background-color:#9B171A;border-color:rgba(0,0,0,0.2)}
.btn-weibo:active,.btn-weibo.active,.open>.dropdown-toggle.btn-weibo{color:#fff;background-color:#9B171A;border-color:rgba(0,0,0,0.2)}.btn-weibo:active:hover,.btn-weibo.active:hover,.open>.dropdown-toggle.btn-weibo:hover,.btn-weibo:active:focus,.btn-weibo.active:focus,.open>.dropdown-toggle.btn-weibo:focus,.btn-weibo:active.focus,.btn-weibo.active.focus,.open>.dropdown-toggle.btn-weibo.focus{color:#fff;background-color:#3a526b;border-color:rgba(0,0,0,0.2)}
.btn-weibo:active,.btn-weibo.active,.open>.dropdown-toggle.btn-weibo{background-image:none}
.btn-weibo.disabled:hover,.btn-weibo[disabled]:hover,fieldset[disabled] .btn-weibo:hover,.btn-weibo.disabled:focus,.btn-weibo[disabled]:focus,fieldset[disabled] .btn-weibo:focus,.btn-weibo.disabled.focus,.btn-weibo[disabled].focus,fieldset[disabled] .btn-weibo.focus{background-color:#DE2025;border-color:rgba(0,0,0,0.2)}
.btn-weibo .badge{color:#DE2025;background-color:#fff}
.btn-wechat{color:#fff;background-color:#00B900;border-color:rgba(0,0,0,0.2)}.btn-wechat:focus,.btn-wechat.focus{color:#fff;background-color:#008A00;border-color:rgba(0,0,0,0.2)}
.btn-wechat:hover{color:#fff;background-color:#008A00;border-color:rgba(0,0,0,0.2)}
.btn-wechat:active,.btn-wechat.active,.open>.dropdown-toggle.btn-wechat{color:#fff;background-color:#008A00;border-color:rgba(0,0,0,0.2)}.btn-wechat:active:hover,.btn-wechat.active:hover,.open>.dropdown-toggle.btn-wechat:hover,.btn-wechat:active:focus,.btn-wechat.active:focus,.open>.dropdown-toggle.btn-wechat:focus,.btn-wechat:active.focus,.btn-wechat.active.focus,.open>.dropdown-toggle.btn-wechat.focus{color:#fff;background-color:#3a526b;border-color:rgba(0,0,0,0.2)}
.btn-wechat:active,.btn-wechat.active,.open>.dropdown-toggle.btn-wechat{background-image:none}
.btn-wechat.disabled:hover,.btn-wechat[disabled]:hover,fieldset[disabled] .btn-wechat:hover,.btn-wechat.disabled:focus,.btn-wechat[disabled]:focus,fieldset[disabled] .btn-wechat:focus,.btn-wechat.disabled.focus,.btn-wechat[disabled].focus,fieldset[disabled] .btn-wechat.focus{background-color:#00B900;border-color:rgba(0,0,0,0.2)}
.btn-wechat .badge{color:#00B900;background-color:#fff}
.btn-windows{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-windows:focus,.btn-windows.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-windows:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-windows:active,.btn-windows.active,.open>.dropdown-toggle.btn-windows{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-windows:active:hover,.btn-windows.active:hover,.open>.dropdown-toggle.btn-windows:hover,.btn-windows:active:focus,.btn-windows.active:focus,.open>.dropdown-toggle.btn-windows:focus,.btn-windows:active.focus,.btn-windows.active.focus,.open>.dropdown-toggle.btn-windows.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-windows:active,.btn-windows.active,.open>.dropdown-toggle.btn-windows{background-image:none}
.btn-windows.disabled:hover,.btn-windows[disabled]:hover,fieldset[disabled] .btn-windows:hover,.btn-windows.disabled:focus,.btn-windows[disabled]:focus,fieldset[disabled] .btn-windows:focus,.btn-windows.disabled.focus,.btn-windows[disabled].focus,fieldset[disabled] .btn-windows.focus{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-windows .badge{color:#3b5998;background-color:#fff}
.btn-whatsapp{color:#fff;background-color:#00a416;border-color:rgba(0,0,0,0.2)}.btn-whatsapp:focus,.btn-whatsapp.focus{color:#fff;background-color:#00e024;border-color:rgba(0,0,0,0.2)}
.btn-whatsapp:hover{color:#fff;background-color:#00e024;border-color:rgba(0,0,0,0.2)}
.btn-whatsapp:active,.btn-whatsapp.active,.open>.dropdown-toggle.btn-whatsapp{color:#fff;background-color:#00e024;border-color:rgba(0,0,0,0.2)}.btn-whatsapp:active:hover,.btn-whatsapp.active:hover,.open>.dropdown-toggle.btn-whatsapp:hover,.btn-whatsapp:active:focus,.btn-whatsapp.active:focus,.open>.dropdown-toggle.btn-whatsapp:focus,.btn-whatsapp:active.focus,.btn-whatsapp.active.focus,.open>.dropdown-toggle.btn-whatsapp.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-whatsapp:active,.btn-whatsapp.active,.open>.dropdown-toggle.btn-whatsapp{background-image:none}
.btn-whatsapp.disabled:hover,.btn-whatsapp[disabled]:hover,fieldset[disabled] .btn-whatsapp:hover,.btn-whatsapp.disabled:focus,.btn-whatsapp[disabled]:focus,fieldset[disabled] .btn-whatsapp:focus,.btn-whatsapp.disabled.focus,.btn-whatsapp[disabled].focus,fieldset[disabled] .btn-whatsapp.focus{background-color:#00a416;border-color:rgba(0,0,0,0.2)}
.btn-whatsapp .badge{color:#00a416;background-color:#fff}
.btn-xing{color:#fff;background-color:#009d9f;border-color:rgba(0,0,0,0.2)}.btn-xing:focus,.btn-xing.focus{color:#fff;background-color:#005d5e;border-color:rgba(0,0,0,0.2)}
.btn-xing:hover{color:#fff;background-color:#005d5e;border-color:rgba(0,0,0,0.2)}
.btn-xing:active,.btn-xing.active,.open>.dropdown-toggle.btn-xing{color:#fff;background-color:#005d5e;border-color:rgba(0,0,0,0.2)}.btn-xing:active:hover,.btn-xing.active:hover,.open>.dropdown-toggle.btn-xing:hover,.btn-xing:active:focus,.btn-xing.active:focus,.open>.dropdown-toggle.btn-xing:focus,.btn-xing:active.focus,.btn-xing.active.focus,.open>.dropdown-toggle.btn-xing.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-xing:active,.btn-xing.active,.open>.dropdown-toggle.btn-xing{background-image:none}
.btn-xing.disabled:hover,.btn-xing[disabled]:hover,fieldset[disabled] .btn-xing:hover,.btn-xing.disabled:focus,.btn-xing[disabled]:focus,fieldset[disabled] .btn-xing:focus,.btn-xing.disabled.focus,.btn-xing[disabled].focus,fieldset[disabled] .btn-xing.focus{background-color:#009d9f;border-color:rgba(0,0,0,0.2)}
.btn-xing .badge{color:#009d9f;background-color:#fff}
.btn-yahoo{color:#fff;background-color:#720e9e;border-color:rgba(0,0,0,0.2)}.btn-yahoo:focus,.btn-yahoo.focus{color:#fff;background-color:#500a6f;border-color:rgba(0,0,0,0.2)}
.btn-yahoo:hover{color:#fff;background-color:#500a6f;border-color:rgba(0,0,0,0.2)}
.btn-yahoo:active,.btn-yahoo.active,.open>.dropdown-toggle.btn-yahoo{color:#fff;background-color:#500a6f;border-color:rgba(0,0,0,0.2)}.btn-yahoo:active:hover,.btn-yahoo.active:hover,.open>.dropdown-toggle.btn-yahoo:hover,.btn-yahoo:active:focus,.btn-yahoo.active:focus,.open>.dropdown-toggle.btn-yahoo:focus,.btn-yahoo:active.focus,.btn-yahoo.active.focus,.open>.dropdown-toggle.btn-yahoo.focus{color:#fff;background-color:#39074e;border-color:rgba(0,0,0,0.2)}
.btn-yahoo:active,.btn-yahoo.active,.open>.dropdown-toggle.btn-yahoo{background-image:none}
.btn-yahoo.disabled:hover,.btn-yahoo[disabled]:hover,fieldset[disabled] .btn-yahoo:hover,.btn-yahoo.disabled:focus,.btn-yahoo[disabled]:focus,fieldset[disabled] .btn-yahoo:focus,.btn-yahoo.disabled.focus,.btn-yahoo[disabled].focus,fieldset[disabled] .btn-yahoo.focus{background-color:#720e9e;border-color:rgba(0,0,0,0.2)}
.btn-yahoo .badge{color:#720e9e;background-color:#fff}
.btn-youtube{color:#fff;background-color:#e94639;border-color:rgba(0,0,0,0.2)}.btn-youtube:hover,.btn-youtube:focus,.btn-youtube:active,.btn-youtube.active,.open .dropdown-toggle.btn-youtube{color:#fff;background-color:#f7735c;border-color:rgba(0,0,0,0.2)}
.btn-youtube:active,.btn-youtube.active,.open .dropdown-toggle.btn-youtube{background-image:none}
.btn-youtube.disabled,.btn-youtube[disabled],fieldset[disabled] .btn-youtube,.btn-youtube.disabled:hover,.btn-youtube[disabled]:hover,fieldset[disabled] .btn-youtube:hover,.btn-youtube.disabled:focus,.btn-youtube[disabled]:focus,fieldset[disabled] .btn-youtube:focus,.btn-youtube.disabled:active,.btn-youtube[disabled]:active,fieldset[disabled] .btn-youtube:active,.btn-youtube.disabled.active,.btn-youtube[disabled].active,fieldset[disabled] .btn-youtube.active{background-color:#f7735c;border-color:rgba(0,0,0,0.2)}
.btn-suite{color:#fff;background-color:#8ec657;border-color:rgba(0,0,0,0.2)}.btn-suite:focus,.btn-suite.focus{color:#fff;background-color:#609450;border-color:rgba(0,0,0,0.2)}
.btn-suite:hover{color:#fff;background-color:#609450;border-color:rgba(0,0,0,0.2)}
.btn-suite:active,.btn-suite.active,.open>.dropdown-toggle.btn-suite{color:#fff;background-color:#609450;border-color:rgba(0,0,0,0.2)}.btn-suite:active:hover,.btn-suite.active:hover,.open>.dropdown-toggle.btn-suite:hover,.btn-suite:active:focus,.btn-suite.active:focus,.open>.dropdown-toggle.btn-suite:focus,.btn-suite:active.focus,.btn-suite.active.focus,.open>.dropdown-toggle.btn-suite.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-suite:active,.btn-suite.active,.open>.dropdown-toggle.btn-suite{background-image:none}
.btn-suite.disabled:hover,.btn-suite[disabled]:hover,fieldset[disabled] .btn-suite:hover,.btn-suite.disabled:focus,.btn-suite[disabled]:focus,fieldset[disabled] .btn-suite:focus,.btn-suite.disabled.focus,.btn-suite[disabled].focus,fieldset[disabled] .btn-suite.focus{background-color:#8ec657;border-color:rgba(0,0,0,0.2)}
.btn-suite .badge{color:#8ec657;background-color:#fff}